@import "neat/neat";

* {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

section {
  // width: 80vw;
  // max-width: 750px;
  // margin: 0 auto;
}

#logo {
  height: 30px;
  margin-top: -5px;
  padding-right: 10px;
}

.nav-wrapper {
  @include grid-column(12);
}

.wrapper {
  max-width: 72rem;
  margin-right: auto;
  margin-left: auto;
  // padding-right: 30px;
  // padding-left: 30px;
  @include grid-container;
  // @include grid-visual;
}

#intro {
  clear: both;
  display: block;
  height: 30rem;
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
  margin-top: 2rem;

}

.hero-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  @include grid-column(12);

  & h3 {
    font-family: monospace;
  }

  & p {
    @include grid-column(6);
    margin-left: 0;
    font-size: 125%;
    line-height: 1.66;
    clear: both;
  }

  & #elsewhere {
    @include grid-column(8);
    @include grid-push(3);
  }
}

#hi {
  margin-bottom: -.5rem;
}

.hero-image {
  position: absolute;
  top: 0;
  right: 0;
  @include grid-column(6);
}

#portfolio {
  position: relative;
}

#portfolio-position {
  position: absolute;
  top: 0%;
  left: 20%;
  z-index: 100;
  pointer-events: none
}

#elsewhere {
  list-style: none;
  padding-left: 0;
}

h2 {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h1.section-headline {
  transform-origin: top left;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  color: rgba(0,0,0,.05);
  font-size: 15rem;
  margin: 0;
  padding: 0;
  font-weight: 900;
  line-height: .5;
}

h2, h4 {
  margin: 0 0 .5rem 0;
}

h4, h4 strong {
  font-family: monospace;
  text-transform: uppercase;
  font-weight: 200;
  color: #555;
}

h4 strong {
  font-weight: 700;
  color: #000;
}
.container {
  border: 1px solid #F6A623;
  position: relative;
  padding: 2rem;
  margin-bottom: 6rem;
  box-sizing: border-box;
  z-index: 10;
}

#portfolio .container {
  @include grid-column(8);
  @include grid-push(1);

  &:nth-child(even) {
    @include grid-push(3);
  }
}

.text {
  @include grid-column(8);
  z-index: 300;
}

.tr {
  position: absolute;
  top: -31px;
  left: -32px;
  border-right: 1px solid #F6A623;
  height: 61px;
  width: 61px;
  background: #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  
}

.br {
  position: absolute;
  bottom: -31px;
  right: -32px;
  border-left: 1px solid #F6A623;
  height: 61px;
  width: 61px;
  background: #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg); 
}

p {
  font-weight: 200;
  line-height: 1.25;
}

.link {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #F6A623;
  margin-right: 2rem;
  transition: color .2s ease;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: 200;
}

.link:hover {
  color: #F6A623;
  text-decoration: none;
}

.image {
  @include grid-column(4);
  @include grid-push(8);
}

.hero-image img, .image img {
  box-shadow: 0 19px 48px rgba(0,0,0,0.25), 0 15px 22px rgba(0,0,0,0.17);
}

.image img,  {
  position: absolute;
  z-index: 100;
}

.image img:first-child {
  right: -15%;
  top: -10%;
}

.image img:nth-child(2) {
  right: -5%;
  top: 30%;
}