@import "neat/neat";

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

section {
  // width: 80vw;
  // max-width: 750px;
  // margin: 0 auto;
}

#logo {
  height: 30px;
  margin-top: -5px;
  padding-right: 10px;
}

.nav-wrapper, .footer-wrapper {
  @include grid-column(12);
}

.wrapper {
  max-width: 72rem;
  margin-right: auto;
  margin-left: auto;
  // padding-right: 30px;
  // padding-left: 30px;
  @include grid-container;
  // @include grid-visual;
}

#intro {
  display: block;
  height: 30rem;
  text-align: left;
  position: relative;
  margin-bottom: 7rem;
  margin-top: 2rem;
  @include grid-container;
}

.hero-text {
  top: 0;
  left: 0;
  z-index: 100;
  @include grid-column(12);

  @include media-query($on-laptop){
    position: relative;
  }

  & h3 {
    font-family: monospace;
  }

  & p {
    @include grid-column(6);
    margin-left: 0;
    font-size: 125%;
    line-height: 1.66;
    clear: both;

    @include media-query($on-laptop){
      @include grid-column(12);
      margin-left:0;
    }
  }
}

.hero-social-links {
    @include grid-column(3);
    @include grid-push(3);

    @include media-query($on-laptop){
      @include grid-column(3);
      @include grid-push(0);
    }

    @include media-query($on-palm){
      @include grid-column(12);
      @include grid-push(0);

      & #elsewhere {
        margin-left: -20px; //offset-grid padding for alignment
      }

      & #elsewhere li {
         @include grid-column(4);
      }

      & .link {
        margin-right: 0;
       
        // @include grid-collapse;
      }
    }
}

#hi {
  margin-bottom: -.5rem;
  font-weight: 400;

  @include media-query($on-palm){
    margin-bottom: 0rem;
  }
}

.hero-image {
  position: absolute;
  top: -2%;
  right: 20px;
  z-index: -1;

  @include grid-column(6);

  @include media-query($on-laptop){
    top: 0%;
    position: relative;
    @include grid-column(9);
    margin-bottom: 4rem;
    right: 0;
  }

  @include media-query($on-palm){
    top: 0%;
    position: relative;
    @include grid-column(12);
    margin-bottom: 0;
    z-index: 50;
  }
}

#portfolio {
  position: relative;
}

.portfolio-wrapper {
  @include grid-column(12);
}

#portfolio-position {
  position: absolute;
  top: -2%;
  left: 170px;
  z-index: 100;
  pointer-events: none
}

ul#elsewhere {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}

// h2 {
//   font-weight: 700;
// }

h3 {
  font-weight: 900;
}

h1 {
  font-weight: 900;
}

h1.section-headline {
  transform-origin: top left;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  color: rgba(0,0,0,.04);
  font-size: 15rem;
  margin: 0;
  padding: 0;
  font-weight: 900;
  line-height: .5;
}

h2, h4 {
  margin: 0 0 .5rem 0;
}

h4, h4 strong {
  font-family: monospace;
  text-transform: uppercase;
  font-weight: 200;
  color: #828282;
}

h4 strong {
  font-weight: 700;
  color: #111;
}
.container {
  border: 1px solid #F6A623;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 12rem;
  // box-sizing: border-box;
  

  @include media-query($on-laptop){
    margin-bottom: 16rem;
  }

  @include media-query($on-palm){
    margin-bottom: 8rem;
  }

}

#portfolio {
  margin-top: $spacing-unit * 2;
}

#portfolio .container {
  // @include grid-collapse;
  z-index: 10;
  @include grid-column(9);
  @include grid-push(3);
  // @include grid-push(1);

  @include media-query($on-laptop){
    @include grid-column(11);
    @include grid-push(0);
    width: 100%;
    margin-left: 0px;
  }

  &:nth-child(even) {
    @include grid-push(0);

    @include media-query($on-laptop){
      @include grid-push(1);
      margin-left: 0px;
    }
  }
}

@include media-query($on-laptop){
  $elements: 8;
  @for $i from 0 to $elements {
    #portfolio .container:nth-child(#{$i}) {
      z-index: #{($elements * 100) - (10 * $i) };
    }
  }
}

.text {
  @include grid-column(7);
  z-index: 300;
  font-size: $small-font-size;
  line-height: $small-line-height;
  font-weight: 200;

  @include media-query($on-laptop){
    @include grid-column(12);
  }
}

.tr {
  position: absolute;
  top: -31px;
  left: -32px;
  border-right: 1px solid #F6A623;
  height: 61px;
  width: 61px;
  background: #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  
}

.br {
  position: absolute;
  bottom: -31px;
  right: -32px;
  border-left: 1px solid #F6A623;
  height: 61px;
  width: 61px;
  background: #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg); 
}

p {
  font-weight: 200;
}

a, .link {
  text-decoration: none;
  border-bottom: 1px solid #F6A623;
  transition: color .2s ease;
}

.link {
  color: #111;
  margin-right: 2rem;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: 200;
  display: inline-block;

  @include media-query($on-palm){
    margin-bottom: .5rem;
  }
}

.link:hover {
  color: #F6A623;
  text-decoration: none;
}

.image {
  @include grid-column(4);
  @include grid-push(8);

  @include media-query($on-laptop){
    @include grid-column(12);
    @include grid-push(0);
  }
}

.hero-image img, .image img {
  box-shadow: 0 19px 48px rgba(0,0,0,0.25), 0 15px 22px rgba(0,0,0,0.17);
}

.image img,  {
  position: absolute;
  z-index: 100;
  @include grid-column(6);

  @include media-query($on-laptop){
      @include grid-column(8);
  }
  
}

.image img:first-child {
  right: -15%;
  top: -10%;

  @include media-query($on-laptop){
    right: auto;
    top: 180px;
    left: -70px;
  }
}

.image img:nth-child(2) {
  right: -5%;
  top: 30%;

  @include media-query($on-laptop){
    top: 250px;
    right: -45px;
  }
}

span.badge {
  border: 1px solid #828282;
  color: #828282;
  font-size: 75%;
  line-height: 100%;
  text-transform: uppercase;
  padding: .25rem;
  margin-right: .25rem;
}

/*------------------------------
    Footer Styles
------------------------------*/

.site-footer {
  background: #111;

  & a {
    color: #828282;
  }
}