---
layout: default
---

<section id="intro" class="wrapper ">
    <div class="hero-text">
      <h4 id="hi">Hey, I'm Justin</h4>
      <h1>A Front-End Web Developer</h1>
      <p>Web designer turned web developer. Hand coding sites since 2011. Currently at Microsoft.</p>
    </div>
    <div class="hero-social-links">
      <h4>ELSEWHERE</h4>
      <ul id="elsewhere">
        <li><a h[ref="mailto:contact@justinmunn.co" class="link">Email</a></li>
        <li><a href="https://github.com/jwmunn" class="link">Github</a></li>
        <li><a href="https://www.linkedin.com/in/jwmunn/" class="link">LinkedIn</a></li>
        <li><a href="https://twitter.com/jwmunn" class="link">Twitter</a></li>
        <li><a href="https://www.instagram.com/jwmunn/" class="link">Instagram</a></li>
        <li><a href="https://dribbble.com/jwmunn" class="link">Dribbble</a></li>
      </ul>
    </div>
    <div class="hero-image">
      <img class="rellax-uncentered" data-rellax-speed="3" src="images/hp-image.jpg" />
    </div>
  </section>
  <section id="portfolio" class="wrapper">
    <div class="portfolio-wrapper">
      <h1>Recent Projects</h1>

      <div class="container">
          <div class="text">
            <h3>Azure Resource Graph</h3>
            <h4><strong>Role:</strong> Web Developer</h4>
            <p>
              <span class="badge">ASP.NET</span>
              <span class="badge">C#</span>
              <span class="badge">LESS</span>
            </p>
            <p>Developed a new page for Azure Resource Graph to coincide with <a href="https://www.microsoft.com/ignite">Ignite 2018</a>. Worked with PMs and designers as a part of the Azure.com team to ensure quality execution. Updated global partial for guided walk-through to match internal design system. Contributed global update for breadcrumbs to bring consistency across <a href="https://azure.microsoft.com/en-us/">azure.microsoft.com</a>.</p>
            <a href="https://azure.microsoft.com/features/resource-graph/" target="blank" class="link">View Live Site &rarr;</a>
          </div>
          <div class="image">
            <img class="rellax" data-rellax-speed="6" src="/images/hp-acom-guide.jpg" />
            <img class="rellax" data-rellax-speed="3" src="/images/hp-acom-resource-graph.jpg" />
          </div>
          <div class="tl"></div>
          <div class="br"></div>
        </div>

      <div class="container">
        <div class="text">
          <h3>Bobby Feeno</h3>
          <h4><strong>Role:</strong> Web Developer</h4>
          <p>
            <span class="badge">Shopify CLI</span>
            <span class="badge">Howler.js</span>
            <span class="badge">Parallax.js</span>
          </p>
          <p>Worked with former NFL player Arian Foster and his team on the web launch for his musical debut as Bobby Feeno. Decontructed and animated the album art using <a href="http://matthew.wagerfield.com/parallax/">parallax.js</a>. Custom audio player built with <a href="https://howlerjs.com/">howler.js</a>. Integrated into shopify theme customize to match landing page.</p>

          <a href="https://bobbyfeeno.com/" target="blank" class="link">View Live Site &rarr;</a>
          <a href="https://github.com/jwmunn/bf" target="blank" class="link">View on Github &rarr;</a>
        </div>
        <div class="image">
          <img class="rellax" data-rellax-speed="6" src="/images/hp-bobby-feeno-product.jpg" />
          <img class="rellax" data-rellax-speed="3" src="/images/hp-bobby-feeno-index.jpg" />
        </div>
        <div class="tl"></div>
        <div class="br"></div>
      </div>

      <div class="container">
        <div class="text">
          <h3>Donald Donates</h3>
          <h4><strong>Role:</strong> Co-founder, Front End Developer</h4>
          <p>
            <span class="badge">Angular</span>
            <span class="badge">HTML</span>
            <span class="badge">CSS</span>
            <span class="badge">UI</span>
          </p>
          <p>A responsive web app that lets subscribers easily donate money to progressive organizations they support, like Planned Parenthood, NRDC, or the ACLU, every time President Trump&nbsp;tweets. </p>
          <p>
            <h4 class="press">
              <strong>Press:</strong>
              <br />
              <a href="http://bit.ly/DonaldDonates" target="blank">
                <img src="images/logos/Newsweek_Logo.svg" alt="Newsweek Logo" />
              </a>
              <a href="http://www.thedailybeast.com/donald-donates-lets-you-donate-to-causes-trump-hates-every-time-he-tweets" target="blank">
                <img src="images/logos/dailybeast-logo.png" alt="The Daily Beast Logo" />
              </a>
              <a href="http://elitedaily.com/news/politics/hate-trumps-tweets-new-app-turns-weapon/1911594/" target="blank">
                <img src="images/logos/Elite_Daily_logo.svg" alt="Elite Daily Logo" />
              </a>
              <a href="https://www.switchup.org/blog/student-spotlight-justin-munn-on-his-successful-app-donald-donates" target="blank">
                <img src="images/logos/switchup-logo.png" alt="Switchup Logo" />
              </a>
            </h4>
          </p>
          <a href="https://donalddonates.com/" target="blank" class="link">View Live Site &rarr;</a>
        </div>
        <div class="image">
          <img class="rellax" data-rellax-speed="6" src="/images/hp-donalddonates-index.jpg" />
          <img class="rellax" data-rellax-speed="3" src="/images/hp-donalddonates-tweet.jpg" />
        </div>
        <div class="tl"></div>
        <div class="br"></div>
      </div>


      <div class="container">
        <div class="text">
          <h3>Chess</h3>
          <h4><strong>Role:</strong> Full Stack Developer</h4>
          <p>
            <span class="badge">Ruby on Rails</span>
            <span class="badge">Javascript</span>
            <span class="badge">jQueryUI</span>
            <span class="badge">RSPEC</span>
          </p>
          <p>Worked on a 5 person remote agile team to build a Ruby on Rails chess application that fully enforces the rules of the game. Used <a href="https://pusher.com/">Pusher</a> to trigger server-side real-time updates. Responsible for some move logic, creating Dashboard page using Rspec for Test-Driven Development, and the <a href="https://github.com/TheCorrespondingSquares/chess-app/blob/master/app/assets/javascripts/games.js">javascript</a> connecting the back-end to the front-end ui.</p>

          <a href="https://chess-tcs.herokuapp.com/" target="blank" class="link">View Live Site &rarr;</a>
          <a href="https://github.com/TheCorrespondingSquares/chess-app" target="blank" class="link">View on Github &rarr;</a>
        </div>
        <div class="image">
          <img class="rellax" data-rellax-speed="6" src="/images/hp-chess-index.jpg" />
          <img class="rellax" data-rellax-speed="3" src="/images/hp-chess-game.jpg" />
        </div>
        <div class="tl"></div>
        <div class="br"></div>
      </div>

      <div class="container">
        <div class="text">
          <h3>Notes</h3>
          <h4><strong>Role:</strong> Full Stack Developer</h4>
          <p>
            <span class="badge">React</span>
            <span class="badge">Ruby on Rails API</span>
            <span class="badge">RSPEC</span>
          </p>
          <p>Used TDD to build a <a href="https://github.com/jwmunn/notes-rails-api">Ruby on Rails API</a> to store notes as <a href="https://notes-rails-api.herokuapp.com/">JSON objects</a>. Created a Single Page Application using React to communicate with the API. Interface lets you create, edit, and delete notes and their tags. It uses <a href="https://www.npmjs.com/package/axios">axios</a> to hand http requests and keep the UI synced with the API.</p>
          <a href="https://notes-react-app.herokuapp.com/" target="blank" class="link">View Live Site &rarr;</a>
          <a href="https://github.com/jwmunn/notes-react-app" target="blank" class="link">View on Github &rarr;</a>
        </div>
        <div class="image">
          <img class="rellax" data-rellax-speed="6" src="/images/hp-notes-detail.jpg" />
          <img class="rellax" data-rellax-speed="3" src="/images/hp-notes-index.jpg" />
        </div>
        <div class="tl"></div>
        <div class="br"></div>
      </div>

      <div class="container">
        <div class="text">
          <h3>DevStream</h3>
          <h4><strong>Role:</strong> Full Stack Developer</h4>
          <p>
            <span class="badge">Ruby on Rails</span>
            <span class="badge">Javascript</span>
            <span class="badge">Stripe API</span>
            <span class="badge">jQueryUI</span>
          </p>
          <p>A two sided video streaming marketplace platform, featuring credit card payment capabilities, user role management, complex user interfaces and advanced database relationships. Showcases talks I've given on <a href="https://www.youtube.com/watch?v=_BExVBrdNpQ">HTML Emails</a> and <a href="https://www.youtube.com/watch?v=qD07inTBtOY">Sass</a>.</p>

          <a href="https://dev-stream-courses.herokuapp.com/" target="blank" class="link">View Live Site &rarr;</a>
          <a href="https://github.com/jwmunn/DevStream" target="blank" class="link">View on Github &rarr;</a>
        </div>
        <div class="image">
          <img class="rellax" data-rellax-speed="6" src="/images/hp-devstream-index.jpg" />
          <img class="rellax" data-rellax-speed="3" src="/images/hp-devstream-stripe.jpg" />
        </div>
        <div class="tl"></div>
        <div class="br"></div>
      </div>

      <div class="container">
        <div class="text">
          <h3>Weather Munn</h3>
          <h4><strong>Role:</strong> Full Stack Developer</h4>
          <p>
            <span class="badge">Sinatra</span>
            <span class="badge">OpenWeatherMap API</span>
            <span class="badge">Redis</span>
          </p>
          <p>A Sinatra app that shows real-time weather data for different cities. Using the OpenWeatherMap API for weather data and Redis for caching to reduce API requests.</p>
          <a href="https://weather-munn.herokuapp.com/" target="blank" class="link">View Live Site &rarr;</a>
          <a href="https://github.com/jwmunn/sinatra-weather" target="blank" class="link">View on Github &rarr;</a>
        </div>
        <div class="image">
          <img class="rellax" data-rellax-speed="6" src="/images/hp-weather-san-francisco.jpg" />
          <img class="rellax" data-rellax-speed="3" src="/images/hp-weather-seattle.jpg" />
        </div>
        <div class="tl"></div>
        <div class="br"></div>
      </div>

      <div class="container">
        <div class="text">
          <h3>Brewster</h3>
          <h4><strong>Role:</strong> Full Stack Developer</h4>
          <p>
            <span class="badge">Ruby on Rails</span>
            <span class="badge">Mapbox API</span>
            <span class="badge">Amazon S3</span>
          </p>
          <p>A Ruby on Rails Yelp clone that integrates with the Mapbox API and includes features like user comments, star ratings, image uploading, and user authentication for reviewing breweries around Seattle.</p>

          <a href="https://brewster-seattle.herokuapp.com/" target="blank" class="link">View Live Site &rarr;</a>
          <a href="https://github.com/jwmunn/brewster" target="blank" class="link">View on Github &rarr;</a>
        </div>
        <div class="image">
          <img class="rellax" data-rellax-speed="6" src="/images/hp-brewster-index.jpg" />
          <img class="rellax" data-rellax-speed="3" src="/images/hp-brewster-place.jpg" />
        </div>
        <div class="tl"></div>
        <div class="br"></div>
      </div>

      <div class="container">
        <div class="text">
          <h3>Grammable</h3>
          <h4><strong>Role:</strong> Full Stack Developer</h4>
          <p>
            <span class="badge">Ruby on Rails</span>
            <span class="badge">Amazon S3</span>
            <span class="badge">RSpec</span>
          </p>
          <p>An instagram clone built using RSpec for test driven development in ruby. Includes AWS S3 image uploading and user authentication.</p>

          <a href="https://grammable-justin-munn.herokuapp.com/" target="blank" class="link">View Live Site &rarr;</a>
          <a href="https://github.com/jwmunn/grammable" target="blank" class="link">View on Github &rarr;</a>
        </div>
        <div class="image">
          <img class="rellax" data-rellax-speed="6" src="/images/hp-grammable-signin.jpg" />
          <img class="rellax" data-rellax-speed="3" src="/images/hp-grammable-index.jpg" />
        </div>
        <div class="tl"></div>
        <div class="br"></div>
      </div>

      <div class="container">
        <div class="text">
          <h3>Muir Words</h3>
          <h4><strong>Role:</strong> Full Stack Developer</h4>
          <p>
            <span class="badge">Ruby on Rails</span>
            <span class="badge">Sass</span>
          </p>
          <p>A database-powered quote generator that displays random John Muir quotes and allows user input. Built with a mobile-first design, using the Ruby on Rails framework, HTML and CSS.</p>

          <a href="https://muir-words-justin-munn.herokuapp.com/" target="blank" class="link">View Live Site &rarr;</a>
          <a href="https://github.com/jwmunn/muir-words" target="blank" class="link">View on Github &rarr;</a>
        </div>
        <div class="image">
          <img class="rellax" data-rellax-speed="6" src="/images/hp-muir-words-modal.jpg" />
          <img class="rellax" data-rellax-speed="3" src="/images/hp-muir-words-index.jpg" />
        </div>
        <div class="tl"></div>
        <div class="br"></div>
      </div>

      <div class="container">
        <div class="text">
          <h3>Pathfinder</h3>
          <h4><strong>Role:</strong> Co-founder, Front-End Developer</h4>
          <p>
            <span class="badge">HTML</span>
            <span class="badge">CSS</span>
            <span class="badge">UI</span>
            <span class="badge">Branding</span>
          </p>
          <p>A responsive web app to build and save custom thru-hikes and loops. It also consolidates all the info you need to get to the trailhead: Weather, Directions, Photos, Reviews, Elevation, Mileage and Permit Info.</p>
          <a href="http://pathfinderhikes.com/" target="blank" class="link">View Sign Up Site &rarr;</a>
        </div>
        <div class="image">
          <img class="rellax" data-rellax-speed="6" src="/images/hp-pathfinder-slide2.jpg" />
          <img class="rellax" data-rellax-speed="3" src="/images/hp-pathfinder-slide1.jpg" />
        </div>
        <div class="tl"></div>
        <div class="br"></div>
      </div>

      <div id="portfolio-position" class="rellax-uncentered" data-rellax-speed="-5"><h1 class="section-headline">PORTFOLIO</h1></div>
    </div>

  </section>
